<div class="jumbotron">
    <h1 class="text-center">SMove</h1>
    <div class="text-center">
        <img class="img-rounded" src="~/Content/miniatura.png" />
        <p class="lead">Aplicación multiplataforma de carpooling para estudiantes universitarios y empleados de empresas</p>
    </div>
</div>

