<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>745578531830-21hn7vjqkteplcblr9sgiai7ovjk1nil.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.745578531830-21hn7vjqkteplcblr9sgiai7ovjk1nil</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>745578531830-nc7jk4ddmekr41e97k5td8inlh55nfuf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDceWdbhE8OJ4VQ7FzW01CncjwYeMmJnpM</string>
	<key>GCM_SENDER_ID</key>
	<string>745578531830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyname.SMove</string>
	<key>PROJECT_ID</key>
	<string>smove-1552199852284</string>
	<key>STORAGE_BUCKET</key>
	<string>smove-1552199852284.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745578531830:ios:4d9d31a6b1d50461</string>
	<key>DATABASE_URL</key>
	<string>https://smove-1552199852284.firebaseio.com</string>
</dict>
</plist>